.login-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

/* フォーム */
.login-form__form {
    padding: 30px 60px;
    width: 40vw;
    border-radius: 8px;
}

@media screen and (max-width: 1200px) {
    .login-form__form {
        width: 60vw;
    }
}

.login-form__group {
    margin-bottom: 32px;
}


.login-form__label {
    display: block;
    margin-bottom: 8px;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
}

.login-form__input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border: 1px solid #5F5F5F;
    color: #5F5F5F;
}

.login-form__error-message {
    color: #FF5555;
    margin-top: 8px;
}

.login-form__btn-inner {
    text-align: center;
    margin-top: 50px;
}

.login-form__btn {
    width: 100%;
}

.login-form__next-btn {
    display: block;
    margin: 20px auto 0 auto;
    color: #0073CC;
    text-decoration: none;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .login-form__label {
        font-size: 20px;
    }

    .login-form__btn {
        padding: 10px 32px;
        font-size: 18px;
    }

    .login-form__next-btn {
        font-size: 18px;
    }
}