.address-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

/* フォーム */
.address-form__form {
    padding: 30px 60px;
    width: 40vw;
    border-radius: 8px;
}

@media screen and (max-width: 1200px) {
    .address-form__form {
        width: 60vw;
    }
}

.address-form__group {
    margin-bottom: 32px;
}

.address-form__label {
    display: block;
    margin-bottom: 8px;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
}

.address-form__input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border: 1px solid #5F5F5F;
    color: #5F5F5F;
}

.address-form__error-message {
    color: #FF5555;
    margin-top: 8px;
}

.address-form__btn-inner {
    text-align: center;
    margin-top: 50px;
}

.address-form__btn {
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .address-form__form {
        padding: 0 15px;
    }
    .address-form__heading {
        font-size: 32px;
    }

    .address-form__file-label {
        font-size: 16px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .address-form__form {
        padding: 20px 0;
    }

    .address-form__label {
        font-size: 20px;
    }

    .address-form__btn {
        padding: 10px 32px;
        font-size: 18px;
    }
}