html,
body {
    height: 100%;
}

/* ヘッダー */
.header {
    background: #000;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.logo__img {
    width: 90%;
}

/* ナビ部分（検索とリンク） */
.header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    flex: 1;
    margin-left: 70px;
}

/* 検索フォーム */
.header__search {
    flex: 1;
    max-width: 800px;
    background-color: #fff;
}

.header__search-input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* メニュー */
.header__menu {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}

.header__link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;

}

.header__link--btn {
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .header__inner {
        padding: 15px 20px;
    }

    .logo__link {
        width: 30%;
    }
    
    .logo__img {
        width: 90%;
    }

    .header__nav {
        gap: 18px;
        margin-left: 20px;
    }

    .header__menu {
        gap: 10px;
    }

    .header__link {
        font-size: 14px;
    }

    .header__link--btn {
        padding: 8px 15px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .header__nav {
        gap: 18px;
        margin-left: 0;
    }

    .header__menu {
        gap: 10px;
    }
}

/* コンテンツ */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 48px;
}

.content__heading {
    text-align: center;
    font-size: 36px;
}

/* ボタン */
.btn {
    display: block;
    padding: 8px 32px;
    border: none;
    background-color: #FF5555;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}