.create-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

/* フォーム */
.create-form {
    margin: 0 auto;
    padding: 30px 15px;
}

.create-form__form {
    padding: 30px 60px;
    width: 40vw;
    border-radius: 8px;
}

@media screen and (max-width: 1200px) {
    .create-form__form {
        width: 60vw;
    }
}

.create-form__group {
    margin-bottom: 32px;
}

.create-form__image-label,
.create-form__label,
.create-form__category-label,
.create-form__name-label {
    display: block;
    margin-bottom: 15px;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
}

.create-form__input,
.create-form__name-input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.create-form__file {
    display: flex;
    align-items: center;
    border: 1px dashed #5F5F5F;
    width: 100%;
    height: 150px;
    justify-content: center;
}

.create-form__file-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #FF5555;
    border: 1px solid #FF5555;
    border-radius: 10px;
    opacity: 1;
    border-width: 2px;
    padding: 10px 30px;
}

.create-form__file-label.small {
    font-size: 14px;
    padding: 6px 12px;
    text-align: center;
    height: auto;
}

.create-form__image-input {
    display: none;
}

.create-form__error-message {
    color: #FF5555;
    margin-top: 8px;
}

.create-form__tittle {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    position: relative;
    display: block;
    padding-bottom: 20px;
    color: #5F5F5F;
    margin-top: 70px;
}

.create-form__tittle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #5F5F5F;
}

.create-form__category-label,
.create-form__name-label {
    margin: 20px 0 15px 0;
}

.contact-form__category-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.category {
    border-radius: 200px;
    border: 2px solid #FF5655;
    padding: 8px 12px;
    color: #FF5655;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
}

.create-form__category-input {
    display: none;
}

.create-form__category-input:checked+label.category {
    background-color: #FF5655;
    color: #fff;
    border-color: #FF5655;
}

.create-form__select-inner {
    position: relative;
}

.create-form__select-inner::after {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 0;
    height: 0;
    border-top: 12px solid #5F5F5F;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.create-form__select {
    padding: 8px 16px;
    width: 100%;
    border: 1px solid #5F5F5F;
    color: #5F5F5F;
}

.create-form__option {
    background-color: #636769;
    color: #EAEAEA;
}

.create-form__textarea {
    padding: 8px 16px;
    height: 144px;
    border: 1px solid #5F5F5F;
    width: 100%;
    border-radius: 4px;
}

.create-form__wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.create-form__wrapper .create-form__symbol {
    position: absolute;
    left: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
}

.create-form__input--price {
    padding-left: 30px;
}

.create-form__btn-inner {
    text-align: center;
    margin-top: 50px;
}

.create-form__btn {
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .create-form {
        padding: 0 15px;
    }

    .create-form__form {
        padding: 0;
        width: 60vw;
    }

    .create-form__inner {
        margin-top: 30px;
    }

    .create-form__heading {
        font-size: 32px;
    }

    .create-form__image-label,
    .create-form__category-label,
    .create-form__label,
    .create-form__name-label {
        font-size: 20px;
    }

    .create-form__tittle {
        font-size: 26px;
    }

    .create-form__file-label {
        font-size: 16px;
    }

    .contact-form__category-inputs {
        gap: 15px;
        margin-top: 20px; 
    }
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
    .create-form__form {
        padding:0;
        width: 50vw;
    }

    .create-form__image-label,
    .create-form__label,
    .create-form__category-label,
    .create-form__name-label {
        font-size: 26px;
    }

    .create-form__label {
        font-size: 20px;
    }

    .create-form__btn {
        padding: 10px 32px;
        font-size: 18px;
    }
}