.top-form {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.top-group {
    margin-top: 50px;
}

.top-title {
    display: flex;
    gap: 40px;
    padding-bottom: 12px;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.top-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #5F5F5F;
}

.top-tab {
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    color: #5F5F5F;
    text-decoration: none;
}

.top-tab.active {
    color: #FF5555;
}

.top-contents {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
}

.top-content {
    flex: 1 1 260px;
    max-width: 260px;
}

/* .top-img__before {
    width: 100%;
    height: 0;
    padding-top: 92%;
    background-color: #D9D9D9;
    position: relative;
    overflow: hidden;
}

.top-img__before::after {
    content: '商品画像';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 30px;
    text-align: center;
} */

.top-link {
    text-decoration: none;
    color: #000000;
}

.top-content img {
    width: 100%;
}

.top-name {
    font-weight: 400;
    font-size: 18px;
    margin-top: 8px;
}