.top-form {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.top-group {
    margin-top: 50px;
}

.top-title {
    display: flex;
    gap: 40px;
    padding-bottom: 12px;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.top-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #5F5F5F;
}

.top-tab {
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    color: #5F5F5F;
    text-decoration: none;
}

.top-tab.active {
    color: #FF5555;
}

.top-contents {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.top-content {
    flex: 1 1 260px;
    max-width: 260px;
}

.sold-label {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    font-weight: bold;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    z-index: 10;
}

.top-content {
    position: relative;
    /* sold-labelを画像の上に表示するため */
}

.top-link {
    text-decoration: none;
    color: #000000;
}

.top-content img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

.top-name {
    font-weight: 400;
    font-size: 18px;
    margin-top: 8px;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .top-contents {
        justify-content: center;
        gap: 70px;
    }
}


@media screen and (min-width: 1400px) and (max-width: 1500px) {
    .top-name {
        font-size: 22px;
        margin-top: 8px;
    }

    .sold-label {
        font-size: 16px;
    }
}
