/* フォーム */
.profile-form {
    margin: 48px auto 0;
    padding: 30px 0;
}

.profile-form__form {
    border-radius: 8px;
}

.profile-form__file {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.profile-form__before {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #D9D9D9;
    margin-bottom: 12px;
}

.profile-form__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #FF5555;
    border: 1px solid #FF5555;
    border-radius: 10px;
    opacity: 1;
    border-width: 2px;
    padding: 10px 30px;
    height: 45px;
}

.profile-form__image-input {
    display: none;
}

.profile-form__user {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    margin: 0 150px 0 40px;
}

.profile-form__preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
    display: none;
    overflow: hidden;
}

.profile-form__preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}

.profileEdit-form__image-input {
    display: none;
}

.profileEdit__image-before {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
    margin-bottom: 12px;
}

.item-group {
    margin-top: 70px;
}

.item-tittle {
    display: flex;
    gap: 40px;
    position: relative;
    padding-bottom: 18px;
}

.tab-link {
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    color: #5F5F5F;
    text-decoration: none;
}

.tab-link.active {
    color: #FF5555;
}

.item-tittle::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #5F5F5F;
}

.item-sell,
.item-buy {
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    color: #5F5F5F;
}

.item-tab.active {
    color: #FF5555;
}

.item-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.item-content {
    flex: 0 0 calc((100% - 90px) / 4);
    position: relative;
    width: 250px;
    height: 240px;
}


.img-content {
    width: 250px;
    height: 240px;
}

.item-link {
    text-decoration: none;
}

.sold-label {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    font-weight: bold;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    z-index: 10;
}

.img-content {
    position: relative;
    /* sold-labelを画像の上に表示するため */
}

.item-name {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .item-contents {
        justify-content: center;
        gap: 70px;
    }
}


@media screen and (min-width: 1400px) and (max-width: 1500px) {
    .item-name {
        font-size: 22px;
        margin-top: 8px;
    }

    .sold-label {
        font-size: 16px;
    }
}