.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 40px;
}

.purchase-form {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.purchase-left {
    width: 65%;
}

.purchase-item {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.image-box{
    width: 160px;
    height: 160px;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.price {
    font-size: 24px;
}

.purchase-box {
    border-top: 1px solid #000;
    padding: 30px 25px;
}

.purchase-box__tittle {
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.purchase-box__inner {
    position: relative;
}

.select-box {
    padding: 8px 12px;
    padding: 8px 16px;
    width: 50%;
    border: 1px solid #5F5F5F;
    color: #5F5F5F;
}

.purchase-box__inner::after {
    position: absolute;
    top: 50%;
    right: 52%;
    width: 0;
    height: 0;
    border-top: 12px solid #5F5F5F;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.select-option {
    background-color: #636769;
    color: #EAEAEA;
}

.payment__error-message,
.purchase__error-message {
    color: #FF5555;
    margin-top: 8px;
}

.purchase-link {
    text-decoration: none;
    color: #0073CC;
    font-size: 17px;
}

.purchase-box:last-of-type {
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
}

.purchase-right {
    width: 35%;
}

.summary {
    border: 1px solid #000;
}

.summary__item,
.summary__payment {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid #000;
    font-size: 18px;
}

.purchase-form__btn {
    width: 100%;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
}

.purchase-form__btn--purchase {
    display: block;
    padding: 8px 32px;
    border: none;
    background-color: #FF5555;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}

.purchase-link {
    text-decoration: none;
}

.purchase-form__error-message {
    color: #FF5555;
    margin-top: 8px;
}

.sold-label {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    font-weight: bold;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    z-index: 10;
}

.image-box {
    position: relative;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .purchase-form {
        gap: 40px;
    }
    .purchase-left {
        width: 60%;
    }

    .summary__item,
    .summary__payment {
        padding: 25px;
    }

    .summary__item {
        font-size: 17px;
    }

    .summary__payment {
        font-size: 16px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .purchase-form {
        gap: 80px;
    }

    .product-name,
    .price {
        font-size: 26px;
    }

    .purchase-box__tittle { 
        font-size: 20px;
    }

    .postal-code,
    .address-text {
        font-size: 19px;
    }

    .purchase-left {
        width: 70%;
    }

    .summary__item,
    .summary__payment {
        font-size: 20px;
        padding: 25px;
    }

    .purchase-form__btn {
        font-size: 22px;
        padding: 10px;
    }

    .purchase-link { 
        font-size: 18px;
    }
}