.show-form__form {
    border-radius: 8px;
}

.show-form__btn-inner {
    text-align: center;
    margin-top: 50px;
}

.show-form__btn {
    width: 100%;
}

.show-form__textarea {
    padding: 8px 16px;
    height: 144px;
    border: 1px solid #5F5F5F;
    width: 100%;
    border-radius: 4px;
}

.content {
    display: block;
}

.show {
    display: grid;
    grid-template-columns: minmax(260px, 400px) 1fr;
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.show-info {
    flex: 1;
    width: 100%;
    max-width: 900px;
}

/* .image-box {
    width: clamp(260px, 30vw, 400px);
    aspect-ratio: 1 / 1;
    background: #e5e5e5;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #000000;
} */

.show-img {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-name {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.brand {
    margin: 6px 0 12px;
}

.price {
    font-size: 24px;
    margin: 8px 0;
}

.price span {
    font-size: 14px;
    font-weight: normal;
}

.reaction {
    display: flex;
    gap: 24px;
    margin: 18px 0 20px;
}

.reaction-item {
    text-align: center;
}

.like__img {
    width: 45px;
}

.reaction-count {
    display: block;
    font-size: 14px;
    margin-top: 4px;
}

.section {
    margin-top: 35px;
}

.show-form__group {
    margin-top: 32px;
}

.section-tittle,
.section-tittle--comment {
    font-size: 26px;
    margin-bottom: 20px;
}

.section-tittle--comment {
    color: #5F5F5F;
}

.comment {
    margin-top: 50px;
}

.section-tittle--another {
    font-size: 22px;
}

.section--another {
    margin-top: 25px;
}

.section-tittle--another {
    margin-bottom: 15px;
}

.genle-box {
    margin-top: 20px;
}

.genle {
    font-weight: 700;
    font-size: 18px;
}

.genle:last-of-type {
    margin-top: 20px;
}

.category-tag {
    background: #D9D9D9;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 6px;
    font-weight: normal;
}

.category-tag:first-of-type {
    margin-left: 20px;
}

.condition {
    margin-left: 20px;
    font-weight: normal;
    font-size: 16px;
}

.comment-body {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    align-items: center;
}

/* .user-icon {
    width: 70px;
    height: 70px;
    background: #ccc;
    border-radius: 50%;
} */

.user-name {
    font-weight: bold;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 20px;
}

.img-content {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.comment-text {
    width: 100%;
    background-color: #E5E5E5;
    padding: 18px 20px;
    font-size: 14px;
}

.comment-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
}

.show-form__btn--purchase {
    display: block;
    padding: 8px 32px;
    border: none;
    background-color: #FF5555;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}

.show-link {
    text-decoration: none;
    color: #FFF;
}

.show-form__error-message {
    color: #FF5555;
    margin-top: 8px;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .show {
        grid-template-columns: minmax(260px, 360px) 1fr;
        gap: 0px;
        min-width: 600px;
        padding: 0 10px;
    }

    .image-box {
        width: 80%;
    }

    .show-link {
        font-size: 18px;
    }

    .product-name {
        font-size: 26px;
    }

    .section-tittle,
    .section-tittle--comment {
        font-size: 22px;
    }

    .header__link {
        font-size: 14px;
    }

    .category-tag:first-of-type {
        margin-left: 10px;
    }

    .show-form__btn {
        font-size: 15px;
    }
}