# Node / Frontend
src/node_modules/
npm-debug.log
yarn-error.log

# Laravel
src/vendor/
src/public/hot
src/storage/*.key
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/storage/logs/*
.phpunit.result.cache

# Environment
.env
.env.backup

# IDE
.idea/
.vscode/

# Docker
docker-compose.override.yml
docker/mysql/data/
docker/mysql/logs/

# Homestead
Homestead.json
Homestead.yaml
